<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Connexion</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/login.css') }}">
</head>
<body>
    <h2 class="container">Connexion</h2>
    <form method="POST" class="container">
        <input type="text" name="identifier" placeholder="Nom d'utilisateur ou email" required><br>
        <input type="password" name="password" placeholder="Mot de passe" required><br>
        <button type="submit">Se connecter</button>
    </form>
    <p class="container">Pas encore inscrit ? <a href="{{ url_for('register') }}">Créer un compte</a></p>
</body>
</html>